@font-face {
  font-family: "Karrik Italic";
  src: url("./fonts/Karrik-Italic.woff2") format("woff2"),
    url("./fonts/Karrik-Italic.woff") format("woff"),
    url("./fonts/Karrik-Italic.ttf") format("truetype");
  font-style: italic; /* Font style */
  font-weight: normal; /* Adjust if there are bold weights in the font family */
}

html {
  font-family: "Karrik Italic", sans-serif;
}

body {
  overflow: hidden;
  background-color: #09011a;
}
h1 {
  position: relative;
  z-index: 4;

  text-transform: uppercase;
  margin: auto;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;

  font-style: italic;

  font-size: clamp(2rem, 20vw, 24rem);

  text-align: center;
  color: white;
  opacity: 0.9;
  line-height: 0.8;
  pointer-events: none;
  user-select: none;

  text-wrap: balance;

  bottom: 2rem;
}

canvas {
  position: absolute;
  top: 0;
  z-index: -1;
}

.links {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  padding: 1rem;
  justify-content: center;
  margin-bottom: 1rem;
  opacity: 0.9;
  z-index: 20;
}
a {
  color: white;
  text-decoration-color: #4910ce;
  font-style: italic;
}

a:hover {
  text-decoration-color: white;
}

a:focus-visible {
  outline-color: rgb(255, 255, 255);
  outline-width: 2px;
  outline-offset: 4px;
}

@media (hover: none) {
  canvas {
    display: none !important;
  }

  .links {
    flex-direction: column;
    width: unset;
  }
}
